*{
    box-sizing: border-box;
}

body{
    background: #070809;
}

.wrapper{
    max-width: 375px;
    /* height: 100vh; */
    margin: 0px auto;
    position: relative;
}

/* @media only screen and (max-width: 380px) {
   .wrapper {
      margin: 0px 15px;
    }
  } */

.music-cover{
    /* width: 90%; */
    min-height: 350px;
    margin: 40px auto;
    /* overflow: hidden; */
}

.music-cover img{
    border-radius: 10%;
    border-color: coral;
    border-right: 2px solid coral;
    border-bottom: 2px solid coral;
    object-fit: cover;
    max-width: 100%;
    height: 100%;

}

.music-title{
    color: white;
}

.controls{
    color: white;
    padding: 10px;
}

.controls button{
    color: white;
}

.controls .play{
    text-align: center;
    height: auto;
    color: coral;
    padding: 10px;
    font-size: 40px;
}

.progress{
    background: #fff;
    height: 5px;
}

.progress-bar{
    height: 100%;
    width: 50%;
    border-radius: 50px;
    background-color: coral;

}